#backboard{
    background-color:blue;
    height:100vh;
    width:1vw;
}
#paddleHome{
    background-color:green;
    height:100vh;
    width:4vw;
}
#paddle{
    background-color:orange;
    height:20vw;
    width:4vw;
    position:absolute;
}
#board{
    background-color:yellow;
    height:100vh;
    width:91vw;
}
#wall{
    background-color:red;
    height:100vh;
    width:4vw;
}
#parent{
    height:100vh;
    width:100vw;
    background-color:black;
    display: flex;
  flex-direction: row;
}